.home {
  text-align: center;
}

.home ul li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
  margin-left: -15px;
  background-color: aqua;
  padding: 10px 25px;


}

.home ul li a{
  text-decoration: none;
  font-size: 30px;
}